<li id="movie-<%= movie.id %>">
  <div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
          <div>
            <%= movie.content %>
            <br>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= movie.youtube_url %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <br>
            <%= link_to 'Show', movie %>
            <br>
            <%= link_to 'Edit', edit_movie_path(movie) %>
            <br>
            <%= link_to 'Destroy', movie, method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
        </div>
      </div>
    </div>
  <span class="timestamp">
   Posted <%= time_ago_in_words(movie.created_at) %>ago.
  </span>
</li>