<p id="notice"><%= notice %></p>

<p>
  <strong>タイトル</strong>
  <%= @movie.content %>
</p>

<p>
  <strong>Youtube Url:</strong>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= @movie.youtube_url%>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</p>

<%= link_to 'Edit', edit_movie_path(@movie) %>
<%= link_to 'Back', movies_path %>