<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h4>ユーザー名</h4>
        <%= @user.name %>

      <h4>プロフィール</h4>
      <%= @user.profile %>

    </section>
  </aside>
  <div class="col-md-8">
    <% if @user.playlists.any? %>
      <h3>Playlistss (<%= @user.playlists.count %>)</h3>
      <ol class="playlists">
        <%= render @playlists %>
      </ol>
      <%= paginate @playlists %>
    <% end %>
  </div>
</div>