<p id="notice"><%= notice %></p>

<h1>Playlists</h1>

<table>
  <thead>
    <tr>
      <th>Contents</th>
      <th>Youtube url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  <div class="container-fluid">
    <div class="row">
      <% @playlists.each do |playlist| %>
        <div class="col-md-4">
          <div>
            <%= link_to playlist_paths(playlist) do %>
              <%= playlist.content %>
            <% end %>
          </div>
        </div>
        <tr>
            <td><%= playlist.content %></td>
            <td><iframe width="560" height="315" src="https://www.youtube.com/embed/<%=playlist.youtube_url%>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </td>
            <td><%= link_to 'Show', playlist %></td>
            <td><%= link_to 'Edit', edit_playlist_path(playlist) %></td>
            <td><%= link_to 'Destroy', playlist, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </div>
  </div>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_playlist_path %>
