<% @playlists.each do |playlist| %>
  <tr>
      <td><%= playlist.content %></td>
      <td><iframe width="560" height="315" src="https://www.youtube.com/embed/ <%= @playlist.youtube_url %>" frameborder="0" allow="accelermeter; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></td>
      <td><%= link_to 'Show', playlist %></td>
      <td><%= link_to 'Edit', edit_playlist_path(playlist) %></td>
      <td><%= link_to 'Destroy', playlist, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>