<p id="notice"><%= notice %></p>

<p>
  <strong>Body:</strong>
  <%= @playlist.body %>
</p>

<p>
  <strong>Youtube url:</strong>
  <%= @playlist.youtube_url %>
</p>

<%= link_to 'Edit', edit_playlist_path(@playlist) %>
<%= link_to 'Back', playlists_path %>